<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	  th:replace="~{/layout/layout :: dynamic(~{::body})}">
<head>
	<meta charset="utf-8">
	<title>Insert title here</title>
</head>
<body >

<section th:each="category, categoryStat : ${categories}" th:if="${categoryStat.index &lt; 5}" class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<h2 class="mb-4">[[${category.title}]]</h2>
			</div>
		</div>


		<div class="row"  >
				<div th:each="house : ${houses}" th:if="category.id == house.category.id"  class="col-sm-3 col-md-3 col-lg-3 col-6 ftco-animate">
					<div  style="border: 1px solid #e6e6e6; background-color: #fff; margin-bottom: 30px;">
						<img class="card-img-top" th:src="@{/images/__${house.images.split(',')[0]}__}" style="width: 100%; height: 230px" alt="Card image cap">

						<div class="text p-3 ">
							<div class="title-container">
								<a class="title" th:href="@{/detail/{id}(id=${house.id})}" th:text="${house.title}"></a>
							</div>
							<hr>
							<div class="list"  style="color: blue;">
								<div><span><i class="fa-solid fa-user-group"></i> Lượng khách: </span>[[${house.customer}]]</div>
								<div><span><i class="fa-solid fa-bed"></i> Phòng Ngủ: </span>[[${house.bedroom}]]</div>
								<div><span><i class="fa-solid fa-toilet"></i> Toilet: </span>[[${house.toilet}]]</div>
								<div><span><i class="fa-solid fa-money-bill-1"></i> Giá Thuê:</span> Liên Hệ</div>
							</div>
						</div>
					</div>
				</div>


		</div>


	</div>
	<div class="see-more-wrapper">
		<a th:href="@{/houses-by-category/{categoryId}(categoryId=${category.id})}" class="button secondary">
			<span>Xem Thêm</span>
		</a>
	</div>


</section>


<!-- Lặp qua danh sách categories -->
<div th:each="category : ${categories}">
	<h2>Danh mục: <span th:text="${category.title}"></span></h2>
	<ul>
		<!-- Lặp qua danh sách houses và lọc theo categoryID -->
		<li th:each="house : ${houses}" th:if="${house.category.id == category.id }">
			<span th:text="${house.title}"></span>
		</li>
	</ul>
</div>


</body>
</html>